<link rel="stylesheet" href="../sass/index.css">

<div class="container">
    <h2 class="visually-hidden">Advantage</h2>
    <div class="advantage">
        <li class="advantage__item">
            <picture>
                <source media="(min-width: 1200px)" srcset="../"
                    type="image/png" />
                <source media="(min-width: 768px)" srcset="./img/team/tablet-team.jpg 1x, ./img/team/tablet-team@2x.jpg 2x"
                    type="image/jpg" />
                <source media="(max-width:767px )" srcset="./img/team/mobile-team.jpg 1x, ./img/team/mobile-team@2x.jpg 2x"
                    type="image/jpg" />
                <img class="team__img" src="./img/teamcard1.jpg" alt="Product Designer" />
            </picture>
            <p class="advantage__data">721</p>
            <p class="advantage__comment">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantage__item">
            <p class="advantage__data">16KG</p>
            <p class="advantage__comment">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantage__item">
            <p class="advantage__data">84</p>
            <p class="advantage__comment">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </div>

</div>